# ==============================
# Python
# ==============================

__pycache__/
*.pyc
*.pyo
*.pyd

# ==============================
# Virtual environments
# ==============================

venv/
env/
.venv/

# ==============================
# Logs
# ==============================

*.log
finanzas_error.log

# ==============================
# Base de datos local
# ==============================

database.db
*.sqlite
*.sqlite3

# ==============================
# Backups
# ==============================

backups/

# ==============================
# PyInstaller build
# ==============================

build/
dist/
release/


# ==============================
# Sistema operativo
# ==============================

.DS_Store
Thumbs.db

# ==============================
# VSCode
# ==============================

.vscode/

# ==============================
# Archivos temporales
# ==============================

*.tmp
*.temp

# ==============================
# Llaves Privadas
# ==============================

keys/private_key.pem
*.pem
*.key
keys/

# ==============================
# variables de entorno
# ==============================
.env