[Desktop Entry]
Version=1.0
Type=Application
Name=Nexar Finanzas
Comment=Gestor de finanzas del hogar
Exec=/usr/local/bin/nexarfinanzas
Path=/opt/NexarFinanzas
Icon=nexar-finanzas
Terminal=false
Categories=Finance;Office;
Keywords=finanzas;dinero;presupuesto;hogar;
StartupNotify=true
StartupWMClass=NexarFinanzas
